@import "reset.css";


body{
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffeecc;
    padding :20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.wrap {
    position: relative;
}
.wrap2{
    position: relative;
}
.fist{
    bottom:0%;
    left: 40%;
    position: absolute;
}
#fist{
    cursor: pointer;
    width:70px;
    /* -webkit-filter: opacity(.8) drop-shadow(0 0 0 gray); */
    /* filter :opacity(0.8) drop-shadow(0 0 0 gray); */
    filter: invert(15%) sepia(100%) saturate(7151%) hue-rotate(5deg) brightness(92%) contrast(129%);
}
.honey img{
    width:500px;
}
.baloons{
    cursor: pointer;
    background-color:transparent;
}
.baloons img{
    width:500px;
}
.poo img{
    bottom:240%;
    width: 700px;
    
    display: flex;
    
}
.canvas canvas{
    position: absolute;
    top:25%;
    left: 20%;
}
.colors input{
    height:50px;
    position: absolute;
    left: 42%;
    bottom:0.5%;
}
body {
    display:flex;
    justify-content:center;
    align-items: center;
    
}
canvas{
    display: flex;
    width: 420px;
    height:420px;
    background-color: white;
    border-radius: 30px;

}
.btns {
    display:flex;
    flex-direction: column;
    gap:15px
}
.color-options{
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.color-option{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor:pointer;
    border:5px solid white;
    transition: transform ease-in-out .1s;
}
.color-option:hover{
    transform: scale(1.2);
}
input#line-color{
    display: none;
    background-color: white;
}

button,label.file {
    all:unset;
    padding:10px 0px;
    text-align: center;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .3s;
}

button:hover{
    opacity: 0.85;
}
input#file{
    display: none;
}
input#text {
    all:unset;
    padding:10px 0px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    background-color: white;
}