@import "reset.css";


body{
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffeecc;
    padding :20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.wrap {
    position: relative;
}
.wrap2{
    position: relative;
    top:50px;
}
.fist{
    bottom:-13%;
    left: 36%;
    position: absolute;
}
#fist{
    cursor: pointer;
    width:70px;
    /* -webkit-filter: opacity(.8) drop-shadow(0 0 0 gray); */
    /* filter :opacity(0.8) drop-shadow(0 0 0 gray); */
    filter: invert(15%) sepia(100%) saturate(7151%) hue-rotate(5deg) brightness(92%) contrast(129%);
}
.baloons{
    cursor: pointer;
    background-color:transparent;
}
.baloons img{
    position: relative;
    left:10px;
    width:290px;
}
.poo img{
    bottom:240%;
    width: 700px;
    border-radius: 50px;
    display: flex;
    
}
.canvas canvas{
    position: absolute;
    top:25%;
    left: 20%;
}
.colors input{
    height:50px;
    position: absolute;
    left: 42%;
    bottom:0.5%;
}
body {
    display:flex;
    justify-content:center;
    align-items: center;
}
canvas{
    display: flex;
    width: 420px;
    height:420px;
    background-color: white;
    border-radius: 30px;

}
.tools{
    position: relative;
    top: 80px;
    left:40px;
    width:400px;
    height: 510px;
    display:flex;
    border-radius: 20px;
    box-shadow: 4px 24px 5px #76420e;
    flex-direction: column;
}
.honey{ 
    align-items: center;
    display:flex;
    width:400px;
    height:60px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgb(248, 206, 35);
}
#triangle{
    top:20px;
    z-index: 1;
    position:relative;
    width: 60px;
    height: 200px;
    clip-path: ellipse(20px 30px);
    background-color: rgb(248, 206, 35);
}
#bottom-angle{
    top:-38.5px;
    left:-45.1px;
    z-index: 2;
    position:absolute;
    width: 100px;
    height: 200px;
    clip-path: ellipse(4.9px 10px);
    background-color: #b56413;
}
#bottom-angle1{
    top:-38.5px;
    left:345.1px;
    z-index: 2;
    position:absolute;
    width: 100px;
    height: 200px;
    clip-path: ellipse(4.9px 10px);
    background-color: #b56413;
}
#bottom-triangle{
    top:-33px;
    left:7.1px;
    z-index: 2;
    position:absolute;
    width: 100px;
    height: 200px;
    clip-path: ellipse(10.3px 20px);
    background-color: #b56413;
    /* #b56413 */
}
#bottom-triangle1{
    top:-33px;
    left:64.2px;
    z-index: 2;
    position:absolute;
    width: 100px;
    height: 200px;
    clip-path: ellipse(10.3px 20px);
    background-color: #b56413;
    /* #b56413 */
}
#bottom-triangle2{
    top:-33px;
    left:121.45px;
    z-index: 2;
    position:absolute;
    width: 100px;
    height: 200px;
    clip-path: ellipse(10.3px 20px);
    background-color: #b56413;
    /* #b56413 */
}
#bottom-triangle3{
    top:-33px;
    left:178.55px;
    z-index: 2;
    position:absolute;
    width: 100px;
    height: 200px;
    clip-path: ellipse(10.3px 20px);
    background-color: #b56413;
    /* #b56413 */
}
#bottom-triangle4{
    top:-33px;
    left:235.65px;
    z-index: 2;
    position:absolute;
    width: 100px;
    height: 200px;
    clip-path: ellipse(10.3px 20px);
    background-color: #b56413;
    /* #b56413 */
}
#bottom-triangle5{
    top:-33px;
    left:292.75px;
    z-index: 2;
    position:absolute;
    width: 100px;
    height: 200px;
    clip-path: ellipse(10.3px 20px);
    background-color: #b56413;
    /* #b56413 */
}
.btns {
    position:relative;
    padding:50px;
    /* padding-top: 50px;
    padding-left:50px;
    padding-right:50px; */
    width:300px;
    height:450px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #b56413;  
    display:flex;
    flex-direction: column;
    gap:30px;
    align-items:center;
}
.drawing-btns{
    display: flex;
    gap:30px;

}
/* #mode-btn{
    width:120px;
    background-color:rgb(248, 206, 35) ;
}
#fill-btn{
    width:120px;
    background-color:rgb(248, 206, 35) ;
} */
/* .color-options{
    
    align-items: center;
    display:flex;
    display:none;
    flex-direction: column;
    gap: 10px;
} */
.color-option:hover{
    transform: scale(1.2);
}
#line-width{
    width:220px;
}
#color-option{
    display: none;
    background-color: white;
}
label.color-option{
    background-color: black;
    bottom:-13%;
    left: 38%;
    z-index: 5;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor:pointer;
    border:5px solid white;
    box-shadow: -3px 4px 3px;
    transition: transform ease-in-out .1s;
}
input#line-color{
    display: none;
    background-color: white;
}
button,label.file {
    all:unset;
    padding:10px 0px;
    text-align: center;
    background-color:rgb(248, 206, 35) ;
    color: #b56413;
    width:120px;
    font-weight:800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .3s;
}

button:hover{
    opacity: 0.65;
}
input#file{
    display: none;
}
input#text {
    all:unset;
    width:270px;
    height:18px;
    padding:10px 0px;
    border-radius: 10px;
    text-align: center;
    font-weight:800;
    color: #b56413;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(248, 206, 35) ;
}
input#text1 {
    all:unset;
    width:40px;
    height:18px;
    padding:10px 0px;
    border-radius: 10px;
    text-align: center;
    font-weight:800;
    color: #b56413;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(248, 206, 35) ;
}
.select {
    all:unset;
    height:35px;
    border-radius: 10px;
    background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
    width:120px;
    background-color: rgb(248, 206, 35) ;
    align-items: center;
    text-align: center;
    font-weight:800;
    color: #b56413;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.select option{
    background: rgb(248, 206, 35);
    color: #b56413;
    font-weight:800;
}